server:
  port: ${SERVER_PORT:8080}
  shutdown: graceful
  compression:
    enabled: true

spring:
  application:
    name: spring-on-k8s
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:dev}
  lifecycle:
    timeout-per-shutdown-phase: 60s
  jackson:
    date-format: com.fasterxml.jackson.databind.util.StdDateFormat
    time-zone: Asia/Shanghai
    deserialization:
      fail-on-unknown-properties: false
  cloud:
    kubernetes:
      config:
        sources:
        - name: ${spring.application.name}
        - name: all-apps
      loadbalancer:
        mode: POD
  # data:
  #   mongodb:
  #     uri: ${MONGO_URI:mongodb+srv://${MONGO_USER:user}:${MONGO_PASS:pass}@core.migjs4v.mongodb.net/?retryWrites=true&w=majority}
  #     database: ${MONGO_DATABASE:core}
  #     authentication-database: ${MONGO_AUTH_DATABASE:admin}

logging:
  level:
    root: ${LOGGING_LEVEL_ROOT:INFO}
    '[org.springframework]': DEBUG
  logback:
    rollingpolicy:
      clean-history-on-start: false

management:
  server:
    port: ${ADMIN_PORT:8081}
  endpoint:
    health:
      access: read-only
    startup:
      access: read-only
  endpoints:
    web:
      exposure:
        include: health,startup,refresh

services:
  urls:
    spring-on-k8s: http://localhost:8080