kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: namespace-reader
  namespace: largemodel-dev
rules:
  - apiGroups: [""]
    resources: ["configmaps", "pods", "services", "endpoints", "secrets"]
    verbs: ["get", "list", "watch"]

---
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: namespace-reader-binding
  namespace: largemodel-dev
subjects:
  - kind: ServiceAccount
    name: default
    namespace: largemodel-dev
    apiGroup: ""
roleRef:
  kind: Role
  name: namespace-reader
  apiGroup: ""
